/[a-zA-Z]*
/.[a-zA-Z]*

!/.gitignore
!/.bin
!/.bin/**
!/.config
!/.config/alacritty
!/.config/alacritty/**
!/.config/atuin
!/.config/atuin/**
!/.config/bat
!/.config/bat/**
!/.config/git
!/.config/git/**
!/.config/systemd
!/.config/systemd/**
!/.config/tmux
!/.config/tmux/**
!/.config/zsh
!/.config/zsh/**
!/.zshenv
!/README.md
